<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title>Pokemon Go GPS Controller</title>
    <style type="text/css">
      .buttons { margin-top: 20px; width: 300px; text-align: center; }
      .buttons .move-btn { padding: 40px 40px; margin: 10px; }
      .buttons .btn-center { margin: 10px auto; display: block; }
    </style>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXN6dSaX1uCryG1XqtdKv8NRXnDdUxYfE"></script>
    <script type="text/javascript" src="application.js"></script>
    <script type="text/javascript">
	    var START_LATITUDE = "12";
	    var START_LONGTITUDE = "34";
      $('document').ready(function() {
        $("#latitude").val(START_LATITUDE);
        $("#longitude").val(START_LONGTITUDE);
        $("#address").val("Enter address here...");
        var app = new App(parseFloat(START_LATITUDE), parseFloat(START_LONGTITUDE));
      })      
    </script>       
  </head>
  <body>
    <div style="display: flex; flex-direction: row">
      <div style="flex: 1">

        <h5>Option A: You can enter an address</h5>
        <div>
          Address: <input id="address" type="text"/>
        </div>
        <button id="address-button">Set</button>

        <h5>Option B: You can set your own GPS coordinates (in decimals)</h5>
        <div>
          Latitude: <input id="latitude" type="text"/>
          Longitude: <input id="longitude" type="text"/>
        </div>
        <button id="location-button">Set</button>

        <h5>Option C: You can select a preset city</h5>
        <select id="location-select">
          <option value="London, UK">London</option>
          <option value="Los Angeles, CA">Los Angeles</option>
          <option value="New York, NY">New York</option>
          <option value="San Francisco, CA">San Francisco</option>
          <option value="Sydney, Australia">Sydney</option>
        </select>
        <br>
        <button id="location-change-button">Change location</button>

        <h5>Option D: You can use arrow keys (up, down, left, right)</h5>

        <h5>Option E: You can drag the map</h5>
      </div>

      <div style="flex: 1">
      <div style="width: 20px; height: 20px; background: red; position: relative; z-index: 100; top: 240px; left: 240px;"></div>
        <div id="map" style="width: 500px; height: 500px;"></div>
      </div>
    </div>
  </body>
</html>
